<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-md">
        <div class="card bg-dark border-primary mx-auto mb-3" style="width: 18rem;">
            <div class="card-header">
                <strong>Name:</strong>
                <%= @activity_list.name %>
            </div>

            <ul class="list-group list-group-flush list-group-item-dark">
                <li class="list-group-item list-group-item-dark">
                    <strong>Theme:</strong>
                    <%= @activity_list.theme %>
                    <%= image_tag @activity_list.thumb_image %>
                </li>
                <li class="list-group-item list-group-item-dark">
                    <% if current_user.try(:admin?) %>
                        <%= link_to 'Edit', edit_activity_list_path(@activity_list), class: "btn btn-warning" %> 
                    <% end %>
                    <%= link_to 'Back', activity_lists_path, class: "btn btn-light float-right" %>
                </li>
            </ul>
        </div>

    </div> 
    <div class="col-md">
        <div class="card bg-dark mx-auto">
            <%= image_tag @activity_list.main_image, class: "mx-auto" %>
        </div> 
    </div> 
</div>

