
<header class="masthead container">
  <div class="navbar" >
    <%= link_to "Move & Groove", root_path, class: "nav-link navbar-brand" %>
    <nav class="nav justify-content-right nav-masthead">
      <%= link_to "Home", root_path, class: "nav-link" %>
      <%= link_to "Activities", activities_path, class: "nav-link" %>
      <%= link_to "About", about_me_path, class: "nav-link" %>
      <%= link_to "Contact", contact_path, class: "nav-link" %>
      <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path, class: "nav-link", method: :delete %>
      <% else %>
        <%= link_to "Register", new_user_registration_path, class: "nav-link"  %>
        <%= link_to "Login", new_user_session_path, class: "nav-link"  %>
      <% end %>
    </nav>
  </div>
</header>
