<p id="notice"><%= notice %></p>
<div>
<h1>Activities</h1>
<%= link_to 'New Activity', new_activity_path, class: "btn btn-primary", type: "button" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th scope="col">Duration</th>
      <th scope="col">Kalories</th>
      <th scope="col"> </th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each_with_index do |activity, idx| %>
      <tr>
        <th scope="row"><%= idx + 1 %></th>
        <td><%= activity.date %></td>
        <td><%= image_tag @activity_list.find(activity.activity_list_id).thumb_image unless @activity_list.find(activity.activity_list_id).thumb_image.nil?  %><%= @activity_list.find(activity.activity_list_id).name %></td>
        <td><%= activity.duration %> min</td>
        <td><%= activity.kcal %> kcal</td>
        <td>
          <div class="btn-group btn-group-sm">
            <%= link_to 'Show', activity, class: "btn btn-success" %>
            <%= link_to 'Edit', edit_activity_path(activity), class: "btn btn-warning" %>
            <%= link_to 'Destroy', activity, class: "btn btn-danger",  method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

