<p id="notice"><%= notice %></p>
<div class="container">
    <h1 class="inline">Activities</h1>
    <%= link_to 'New Activity', new_activity_path, class: "button float-right" %>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Date</th>
                <th scope="col">User</th>
                <th scope="col">Type</th>
                <th scope="col">Duration</th>
                <th scope="col">Kalories</th>
                <th scope="col"> </th>
            </tr>
        </thead>

        <tbody>
            <% @activities.each_with_index do |activity, idx| %>
                <tr>
                    <th scope="row"><%= idx + 1 %></th>
                    <td><%= activity.date %></td>
                    <td><%= @users.find(activity.user_id).name %></td>
                    <td><%= image_tag @activity_list.find(activity.activity_list_id).thumb_image unless @activity_list.find(activity.activity_list_id).thumb_image.nil?  %>  <%= @activity_list.find(activity.activity_list_id).name %></td>
                    <td><%= activity.duration %> min</td>
                    <td><%= activity.kcal %> kcal</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <%= link_to 'Show', activity, class: "btn btn-info" %>
                            <% if current_user && current_user.id == activity.user_id %>
                                <%= link_to 'Edit', edit_activity_path(activity), class: "btn btn-warning" %>
                                <%= link_to 'Destroy', activity, class: "btn btn-danger",  method: :delete, data: { confirm: 'Are you sure?' } %>
                            <% end %>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <br>
</div>

