<p id="notice"><%= notice %></p>

<p>
    <%= image_tag @activity_list.find(@activity.activity_list_id).main_image unless @activity_list.find(
        @activity.activity_list_id).main_image.nil?  %>
</p>

<p>
  <strong>Name:</strong>
  <%= @activity_list.find(@activity.activity_list_id).name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @activity.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @activity.duration %>
</p>

<p>
  <strong>Kcal:</strong>
  <%= @activity.kcal %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
