<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>Gruby</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Mitr:400,600|Roboto" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper jumbotron-bg">
      <div class="site-wrapper-inner">
       <%= render "/shared/application_nav" %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       <%= yield %>
       <%= render "/shared/application_footer" %>
      </div>
    </div>
  </body>
</html>
